/* resetcss */
body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0px;
}

.header {
    width: cover;
    background-image: url(image/type-hero/bg.jpg);
    background-position: 0 60%;
    background-repeat: no-repeat;
    background-size: 120%;
    position: sticky;
    top: -542px;

}

.nav-bar {
    padding: 12px 92px 12px 92px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    position: fixed;
    width: 1256px;
    z-index: 1;
}

a {
    text-decoration: none;
    color: rgba(44, 44, 44);
}

a:hover {
    font-weight: bold;
}

.hero-section {
    padding: 253.5px 92px 180px 92px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-around;
    padding: 28px 92px 28px 92px;
    background-color: rgba(255, 255, 255, 0.25);
}

/* Type section */
.type-section {
    display: flex;
    flex-direction: column;
    margin: 200px;
    row-gap: 72px;
}

.type-card {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
}

.type-card-reverse {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
}

.type-card-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 36px;
    max-width: 508px;
}

.fa-book-open {
    margin-right: 14px;
}

/* Footer */
.footer-section {
    padding: 112px 92px 112px 92px;
    width: cover;
    background-image: url(image/background/bg-landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;

}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;

}

.first-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

input {
    width: 360px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid rgba(44, 44, 44);
    margin-right: 8px;
    font-family: "Nanum Myeongjo", serif;
    font-size: 16px;
    padding-left: 24px;
}

.sns {
    height: 48px;
    width: auto;
}
.nav-column p {
    font-family: "Nanum Myeongjo", serif;
    font-size: 16px;
    color: rgba(44, 44, 44);  

}

/* Style Guide */
/* text */
h1 {
    font-family: "Comforter", cursive;
    font-size: 96px;
    font-weight: 400;
    color: black;

}

h2 {
    font-family: "Italiana", sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: rgba(44, 44, 44);
}

h3 {
    font-family: "Nanum Myeongjo", serif;
    font-size: 40px;
    font-weight: 800;
    color: rgba(44, 44, 44);
}

h4 {
    font-family: "Nanum Myeongjo", serif;
    font-size: 24px;
    color: rgba(44, 44, 44);
    font-weight: 400;
}

h5 {
    font-family: "Italiana", sans-serif;
    font-size: 28px;
    color: rgba(44, 44, 44);

}

p {
    font-family: "Nanum Myeongjo", serif;
    font-size: 20px;
    line-height: 24px;
    color: rgba(44, 44, 44);
}

/* General */
.text-center {
    text-align: center;
}

.text-left {
    display: flex;
    align-items: flex-start;
}

.text-right {
    display: flex;
    align-items: flex-end;
}

.img-circle {
    width: 50%;
    max-width: 448px;
    border-radius: 50%;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

button {
    padding: 12px 42px 12px 42px;
    border: 1px solid rgba(44, 44, 44);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    cursor: pointer;
    font-family: "Nanum Myeongjo", serif;
    font-size: 20px;
    color: rgba(58, 59, 60);
}

button:hover {
    border: 1px solid palevioletred;
    color: palevioletred;
    background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 430px) {
    .header {
        top: -486.5px;
    }
    .nav-bar {
        padding: 8px 0px 8px 0px;
        justify-content: space-evenly;
        gap: 0px;
        width: 100%;
        z-index: 1;
    }

    a {
        text-decoration: none;
        color: rgba(44, 44, 44);
        font-size: smaller;
    }

    a:hover {
        font-weight: bold;
    }

    .hero-section {
        padding: 160px 24px 280px 24px;
        gap: 14px;
        justify-content: center;
        align-items: center;
    }
    /* Menu */
    .menu {
        /* display: flex; */
        flex-direction: column;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        padding: 12px 24px 12px 24px;
    }
    nav a {
        width: 30%;
    }

    /* Type section */
    .type-section {
        margin: 64px;
    }

    .type-card {
        flex-direction: column;
    }

    .type-card-reverse {
        flex-direction: column;
        column-gap: 24px;
    }

    .type-card-text {
        width: 100%;
        row-gap: 24px;
        max-width: 382px;
        padding-top: 24px;
    }

    .fa-book-open {
        margin-right: 14px;
    }

    /* Footer */
    .footer-section {
        padding: 64px 24px 64px 24px;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 64px;
    }

    .nav-column {
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;

    }

    .signup {
        justify-content: center;
        align-items: center;
        gap: 24px;

    }

    .first-column {
        flex-direction: column;
        justify-content: space-between;
    }

    input {
        width: 320px;
        margin-right: 0px;
        font-size: 14px;
        padding-left: 24px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 24px;
    }


    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 14px;
    }

    /* Style Guide */
    /* text */
    h1 {
        font-size: 58px;

    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 20px;
    }


    p {
        font-size: 16px;
        text-align: center;
    }

    /* General */
    .text-center {
        text-align: center;
    }

    .text-left {
        align-items: center;
    }

    .text-right {
        align-items: center;
    }

    .img-circle {
        width: 100%;
        max-width: 240px;
    }

}